<div class="main_form">
    <div class="Rootform">
        <div class="textWelcome">welcome!</div>
        <div class="textStart">To get started, add some items to your list:
        </div>
        <div class="ToDo_form">
            <input id="input_form" type="text" class="input_form" aceholder=" I want to do " [formControl]="ToDo">
            <button id="btn_form" class=" btn_form fa fa-plus"></button>
        </div>
    </div>
    <a href="# ">
        <div id="demo " class="addet_form ">{{ToDo.value}}</div>
    </a>
</div>