<div class="main_form">
    <div class="Rootform">
        <div class="textWelcome">welcome!</div>
        <div class="textStart">To get started, add some items to your list:
        </div>
        <div class="ToDo_form">
            <input type="text" class="input_form" aceholder=" I want to do " [(ngModel)]="item">
            <button id=" btn_form " class=" btn_form fa fa-plus " (click)=' added_item() '></button>
        </div>
    </div>
    <a href="# ">

        <div id="demo " class="addet_form " *ngFor="let item of items;let i =index">
            <div class="added_form-text">
                <div class="square"></div>{{item}}
                <input type="text" hidden>
            </div>
            <div class="added_form-buttons">
                <button (click)=remove_item(i)>d</button>
                <button (click)=edit_item(i)>e</button>
            </div>
        </div>
    </a>
</div>